[Unit]
Description=PoPToP Point to Point Tunneling Server
After=network.target

[Service]
Type=forking
ExecStartPre=/sbin/modprobe nf_nat_pptp nf_nat_proto_gre 
ExecStart=/usr/sbin/pptpd
KillMode=process

[Install]
WantedBy=multi-user.target
